//=========================
//
// Custom Variables
//
//=========================
$main-font-color: #1F2324;

$header-font: 'Montserrat', sans-serif;
$main-font: 'Cardo', serif;

body{
    font-family: $main-font;
    font-size: 1.2em;
}

h1{
    font-family: $header-font !important;
    font-size:  4em;
}

.hidden {
    display: none;
}

#tooltip {
    font-size: 0.9em;
    color: #eee;
    background-color: #222;
    padding: 1em;
    border-radius: 5px;
    opacity: 0.9;
    position: absolute;
    z-index: 100;
}
.map-button{
	// display: inline-block;
	// color: #FFFFFF;
	// background-color: #315591;
	// font-size: 0.9em;
	// padding: 10px;
	// border-radius: 2px;
}

.map-button:hover{
	// background-color: #264270;
	// cursor: pointer;
}

.active-button{
    color: #FFFFFF !important;
	background-color: #243949 !important; 
}

//=========================
// Container
//=========================
$container-max-width: 1360px;

//=========================
//
// Import default variables and available mixins.
//
//=========================
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@mixin hook-button-default(){
    color: #243949;
    border: 2px #243949 solid;
}

@mixin hook-button-default-hover(){
    color: #FFFFFF;
    background: #243949;
    border: 2px #243949 solid;
}


//=========================
//
// Import UIkit
//
//=========================
@import "uikit/src/scss/uikit-theme.scss";
